DB_BACKEND=sqlite
SQLITE_PATH=./dev.db

BOOTSTRAP_ADMIN_EMAIL=admin@local
BOOTSTRAP_ADMIN_PASSWORD=Admin12345!

MONGO_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=afcalink_internal
SESSION_SECRET=CHANGE_ME_LONG_RANDOM
COOKIE_HTTPS_ONLY=false
